@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../images/desktop/image-hero.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  width: 100%;
}
header .box {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 3rem;
  border: solid white 2px;
  height: 35vh;
  width: 30%;
  margin: 10rem 15rem;
  padding: 1rem 2rem;
  letter-spacing: 3px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: "Alata", sans-serif;
}
nav .navbar-links ul {
  display: flex;
  list-style: none;
}
nav .navbar-links li a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  display: block;
}
nav .menu {
  position: absolute;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  background-color: white;
  padding: 3px 13px;
  margin: 2px;
}

section {
  margin: 5rem 5rem;
  font-family: "Josefin Sans", sans-serif;
}
section .content .more-content {
  position: absolute;
  top: 62rem;
  left: 40rem;
  z-index: 1;
  background-color: white;
  width: 50%;
  height: 45vh;
  padding: 1rem 2rem;
}
section .content .more-content span {
  font-size: 40px;
  text-transform: uppercase;
}
section .content .more-content p {
  font-size: 20px;
  line-height: 1.6;
  padding-top: 1rem;
}
section .intro {
  margin-top: 10rem;
}
section .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem 5rem;
}
section .boxes p {
  position: relative;
  top: 300px;
  left: 10px;
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
section .boxes .card1 {
  background-image: url(../images/desktop/image-deep-earth.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card2 {
  background-image: url(../images/desktop/image-night-arcade.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card3 {
  background-image: url(../images/desktop/image-soccer-team.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card4 {
  background-image: url(../images/desktop/image-grid.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card5 {
  background-image: url(../images/desktop/image-from-above.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card6 {
  background-image: url(../images/desktop/image-pocket-borealis.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card7 {
  background-image: url(../images/desktop/image-curiosity.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}
section .boxes .card8 {
  background-image: url(../images/desktop/image-fisheye.jpg);
  background-size: cover;
  height: 50vh;
  margin: 1rem;
}

footer {
  background-color: black;
  padding: 3rem 10rem;
}
footer .logo-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .logo-icons .icons {
  margin-right: 2rem;
}
footer .logo-icons .icons img {
  padding: 0.5rem;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  color: white;
}
footer .links a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

@media only screen and (max-width: 768px) {
  header {
    background-image: url(../images/mobile/image-hero.jpg);
  }
  header .box {
    width: 90%;
    margin: 10rem 1rem;
    font-size: 40px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .logo {
    z-index: 1;
  }
  nav .menu {
    display: flex;
  }
  nav .navbar-links {
    width: 100%;
    text-transform: uppercase;
    height: 100vh;
    padding-top: 5rem;
    display: none;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav .navbar-links ul {
    flex-direction: column;
  }
  nav .navbar-links.active {
    display: flex;
  }
}
section .content img {
  max-width: 99%;
}/*# sourceMappingURL=style.css.map */